*.C linguist-detectable=false
*.MakeFile linguist-detectable=true
*.Shell linguist-detectable=false
*.Processing linguist-detectable=false

Brain-Machine-Interface/BMI_Algorithm/nbproject/* linguist-vendored
